extends ../base

block content
  div(ng-controller="MainController")

    h1 basic
    button-bar(
      ng-model="one.selected", 
      button-provider="one.available")
    br/
    | {{one.selected}}
    br/
    | {{one.available}}
    br/

    h2 preselected
    button-bar(
      ng-model="two.selected", 
      button-provider="two.available")
    br/
    | {{two.selected}}
    br/
    | {{two.available}}

    h2 with key 
    button-bar(
      ng-model="three.selected", 
      button-provider="three.available", 
      key="key")
    br/
    | {{three.selected}}
    br/
    | {{three.available}}
